<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/fvtt-svnsea-v3/templates/sheets/partials/header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributs</a>
    <a class="item" data-tab="historique">Historique</a>
    <a class="item" data-tab="equipements">Équipements</a>
    {{#if showSorcellerieTab}}
      <a class="item" data-tab="sorcellerie">Sorcellerie</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab" data-group="primary" data-tab="attributes">
      {{> "systems/fvtt-svnsea-v3/templates/sheets/partials/profile.hbs"}}
      {{> "systems/fvtt-svnsea-v3/templates/sheets/partials/skills.hbs"}}
    </div>

    {{!-- Historique Tab --}}
    <div class="tab" data-group="primary" data-tab="historique">
      <div class="content-column">
        {{> "systems/fvtt-svnsea-v3/templates/sheets/partials/travers.hbs"}}
      </div>
      <div class="content-column" style="margin-top: 20px;">
        {{> "systems/fvtt-svnsea-v3/templates/sheets/partials/avantage.hbs"}}
      </div>
    </div>

    {{!-- Equipements Tab --}}
    <div class="tab" data-group="primary" data-tab="equipements">
      <div class="content-column">
        {{> "systems/fvtt-svnsea-v3/templates/sheets/partials/equipement.hbs"}}
      </div>
    </div>
    
    {{!-- Sorcellerie Tab --}}
    {{#if showSorcellerieTab}}
      <div class="tab" data-group="primary" data-tab="sorcellerie">
        <div class="content-column">
          {{> "systems/fvtt-svnsea-v3/templates/sheets/partials/sorcellerie.hbs"}}
        </div>
      </div>
    {{/if}}
  </section>
</form>
